.activity-show-wrapper {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: sans-serif;
  padding: 50px;
  background-color: white;
  border-radius: 10px;
  color: black;
}

.activity-show-wrapper h1 {
  font-size: 18px;
}

.activity-show-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.activity-show-edit {
  display: flex;
  flex-direction: column;
}

.activity-show-prompt {
  border: none;
  overflow: auto;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
  border-bottom: 2px solid whitesmoke;
}

.activity-show-prompt:focus {
  outline: none;
  border-bottom: 2px solid black;
}

.activity-show-option {
  border: none;
  line-height: 2;
  font-size: 18px;
  width: calc(100% - 50px);
  border-bottom: 2px solid whitesmoke;
}

.activity-show-option:focus {
  outline: none;
  border-bottom: 2px solid black;
}

.activity-show-option-wrapper:before {
  position: relative;
  content: "→";
  padding-right: 25px;
  font-weight: 800;
}

.responses-index-wrapper {
  width: 750px;
  padding: 50px;
  border-radius: 10px;
  background-color: white;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.response-serif {
  color: black;
  font-weight: 600;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-bottom: 100px;
}

.responses {
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
}

.responses:before {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  color: black;
}

.activity-show-button-row {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activity-show-button-update {
  background-color: whitesmoke;
  border-color: whitesmoke;
  color: black;
  font-size: 12px;
  border-radius: 10px;
  padding: 10px;
}

.activity-show-button-update:hover {
  background-color: black;
  border-color: black;
  color: white;
  font-size: 12px;
  border-radius: 10px;
  padding: 10px;
}

.activity-show-button {
  background-color: white;
  border-color: white;
  color: black;
  font-size: 12px;
  border-radius: 10px;
  padding: 10px;
}

.activity-show-button:hover {
  background-color: whitesmoke;
  border-color: whitesmoke;
  color: black;
  font-size: 12px;
  border-radius: 10px;
  padding: 10px;
}


.activity-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.activity-toggle p {
  padding: 10px;
  border-bottom: solid 5px var(--nuetral-100);
}

.activity-toggle p:hover {
  cursor: pointer;
}

.activity-toggle p.active {
  border-bottom: solid 5px var(--nuetral-500);
}

.activity-dropdown {
  color: black;
  font-weight: 100;
}

.activity-dropdown li {
  padding: none;
  margin: none;
  text-align: left;
  font-weight: 100;
  font-size: 18px;
}

.activity-dropdown a {
  padding: none;
  margin: none;
  font-weight: 100;
}
