/* GRID */

.activity-grid {
  width: clamp(750px, 80%, 1800px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 20px;
  display: block;
  font-family: sans-serif;
  background-color: #FAFAFA;
  color: black;
  border-radius: 10px;
  padding: 30px;
  box-sizing: border-box;

}

.activity-grid a {
  text-decoration: none;
  color: black;
}

.activity-index-title {
  font-size: 28px;
  font-weight: 600;
  display: inline;
}

.activity-index-headers {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 7fr 1fr 1fr;
  color: gray;
  font-weight: 200;
  align-content: center;
  border-top: 1.5px solid #E8E8E8;
  box-sizing: border-box;
  padding-top: 15px;
}

.activity-index-item {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  margin: 20px 0px;
  padding: 30px 0px;
  box-shadow: rgb(0 0 0 / 8%) 0px 2px 2px, rgb(0 0 0 / 6%) 0px 2px 8px;
}

.activity-prompt {
  display: grid;
  grid-template-columns: 10fr 1fr;
}

.activity-prompt-broadcast-wrapper {
  background-color: light-grey;
  display: flex;
  justify-content: center;
  /* justify-content: center; */
}

.activity-index-header-centered {
  text-align: center;
}

.activity-index-header-right-icon {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.activity-index-header-right {
  text-align: right;
}

.activity-index-detail-centered {
  text-align: center;
}

.activity-index-detail-order {
  text-align: right;
  padding-right: 20px;
}


/* TOOLBAR */

.toolbar-flexbox {
  display: flex;
  width: clamp(750px, 80%, 1800px);
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 1fr
}

.toolbar-grid button {
  width: 100px;
}

.live-button {
  border-radius: 50%;
  background-color: whitesmoke;
}

.live-button:hover {
  background-color: black;
}

/* live indicator */

.live-indicator-grid {
  width: 250px;
  margin-top: 25px;
  margin-left: 10%;
  margin-bottom: 25px;
  display: grid;
  grid-template-rows: 100px auto;
  grid-template-columns: 50% 50%;
  font-family: sans-serif;
}

.live-learn-more {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  color: gray;
  border-top: 1px solid gray;
  padding: 10px;
}

.live-status-icon {
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 100%;
}

.live-status-icon-flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;

}

.live-status {
  border-left: 1px solid gray;
  padding: 10px;
}

.new-activity-button {
  margin-top: 20px;
}


.activity-toolbar {
  margin-bottom: 5vh;
}

.broadcast-icon-wrapper {
  text-align: center;
}

.greeting {
  font-size: 72px;
}

.greeting-subtext {
  font-size: 12px;
}



.title-and-share {
  display: block;
}

.activity-dropdown {
  position: absolute;
  background-color: var(--nuetral-100);
  border-radius: 10px;
  border: 1px solid;
  z-index: 250;
  border-radius: 10px;
  border: 1px solid #efefef;
  box-shadow: rgb(0 0 0 / 8%) 0px 2px 2px, rgb(0 0 0 / 6%) 0px 2px 8px;
}
