.modalRoot {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: #FAFAFA;
  font-family: sans-serif;
  overflow-y:auto;
}

.modal-header h3{
  font-weight: 600;
  font-size: 30px;
}


.modal-content {
  width: clamp(750px, 80%, 1800px);
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  color: black;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 50px;
}

.modal-body {
  margin-top: 50px;
}
