.response-form-wrapper {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  border-radius: 10px;

}

.response-card {
  border-radius: 10px;
  padding: 50px;
  background-color: white;
  color: black;

}

.response-prompt {
  font-size: 28px;
  margin-bottom: 25px;
}

.response-input {
  font-size: 18px;
  line-height: 1.5;
  margin-left: 25px;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.response-form {
  display: grid;

}

.response-form button {
  width: 150px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}




input[type="radio"] {
  /* The following 4 lines hide default styling  */
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(0,0,0,0);
  margin: 0;
  /* Custom styling of unchecked */
  font: inherit;
  color: currentColor;
  width: 0.75em;
  height: 0.75em;
  border: 0.10em solid currentColor;
  border-radius: 50%;
  transform: translateY(.35em);
  /* spacing */
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: .3em;
  height: .3em;
  border-radius: 50%;
  /* background-color: var(--nuetral-500); */
}

input[type="radio"]:checked {
  border: none;
  border: 0.1em solid var(--secondary-300);
}

input[type="radio"]:checked::before {
  background-color: var(--secondary-300);
}
