/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

/* CUSTOM */

/* VARIABLES */

:root {
	--nuetral-100: #FFFFFF;
	--nuetral-300: #FAFAFA;
	--nuetral-400: #F0F0F0;
	--nuetral-500: #E3E3E3;
	--nuetral-700: #808080;
	--nuetral-900: #898989;
	--primary-300: #474747;
	--primary-500: #262627;
	--secondary-100: #A9C4BD;
	--secondary-300: #297B6C;
	--secondary-500: #036451;
	--tertiary-500: #B41E1B;

}

/* COMPONENT STYLING */

.success {
	color: green;
}

body {
  background-color: #FAFAFA;
  color: black;
  font-family: sans-serif;
}

/* BUTTON STYLING

		DEFAULT: 		primary-500 with white text.
		SECONDARY:	---- figure this out. gray.
		PASSIVE: 		nuetral-300 background color with nuetral-700 text
		ACTIVE: 		---- figure this out. green.

*/

.centered-text {
	text-align: center;
}

button {
	background-color: #262627;
  color: white;
  border: none;
  font-size: 18px;
	font-weight: 100;
  border-radius: 8px;
  padding: 10px;

}

button:hover {
	background-color: #474747;
	cursor: pointer;
}

button.cta {
	background-color: var(--secondary-500)
}

button.cta:hover {
	background-color: var(--secondary-300);
}

button.passive {
	background-color: rgba(0,0,0,0);
	color: var(--nuetral-700);
}

button.passive:hover {
	background-color: var(--nuetral-500);
}

button.close {
	font-size: 30px;
}

/* Profile Icons */

.tiny-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.tiny-profile:hover {
	cursor: pointer;
}

/* Text Affordances */

.attention {
	color: var(--tertiary-500)
}
